In [1]:
import pandas as pd 

df_raw = pd.read_csv(
    r'C:\Users\mjemelka\Desktop\Python\01_Data\product_prices.csv',  
    sep=';',  
    decimal=',',
    encoding='utf-8'
)
df_raw.columns = ['province', 'product_types', 'currency', 'group_id', 'product_line', 'value', 'date']  

# Převod hodnot na čísla
df_raw["value"] = pd.to_numeric(df_raw["value"], errors="coerce")

# Výpočet statistik do jednoho přehledu
stats = {
    "Průměr": df_raw["value"].mean(),
    "Směrodatná odchylka": df_raw["value"].std(),
    "Medián": df_raw["value"].median(),
}

# Kvantily zvlášť (0–100 %)
quantiles = df_raw["value"].quantile([0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1])

# Sloučení do jednoho DataFrame
summary = pd.DataFrame(stats, index=["hodnota"]).T
quantiles_df = pd.DataFrame(quantiles)

# Zobrazení
display(summary)
display(quantiles_df)

                       hodnota
Průměr                6.615227
Směrodatná odchylka  34.112858
Medián                3.090000

       value
0.0     0.00
0.1     0.00
0.2     0.00
0.3     0.28
0.4     1.55
0.5     3.09
0.6     5.75
0.7     9.16
0.8    12.73
0.9    17.19
1.0  3000.00